<form method="get" action="/quizes/<%= question.id %>/answer">
  <label>Question: <%= question.question %>?</label>
  <input type="text" name="answer" value="Answer here please"/>
  <input type="submit" value="Send"/>
</form>
<% if (question.Comments.length) { %>
<p>Comments:</p>
<ul>
<% for (i in question.Comments) { %>
  <% if (question.Comments[i].published) { %>
    <li><%= question.Comments[i].text %></li>
  <% } else if (question.Comments[i].UserId === session.user.id) { %>
    <li><%= question.Comments[i].text %></li>
    <a href="/quizes/<%= question.id %>/comments/<%= question.Comments[i].id %>/publish"><button type="button">Publish</button></a>
  <% } %>
<% } %>
</ul>
<% } %>
<% if (session.user) { %>
  <a href="/quizes/<%= question.id %>/comments/new"><button type="button">Add comment</button></a>
<% } %>
